.mobile_loginBackground {
    width: 100%;
    height: 100%;

    // background-color: #3f4254;;
    // background-image: url(https://cdn.pixabay.com/photo/2022/07/05/02/58/sea-7302187_1280.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;

    background-color: #111833;
    background-position-y: -200px;

    display: flex;
    flex-direction: column;

    padding: 100px 0;
    // justify-items: center;
    // align-content: center;



    .loginTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 25px;;
        font-weight: bold;
        text-align: center;
    }
    
    
    
    .loginWrap {
        // background-color: rgba(0, 0, 0, 0.5);
    
        
        width: 100%;
        height: 100%;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        .login {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;
    
    
            .inputWrap {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 5px;
    
    
    
                label {
                    color: #fff;
                }
    
                input{
                    width: 100%;
                    height: 50px;
                    padding-left: 10px;
                }
    
                
            }
    
            p {
                color: red;
                opacity: 0;
            }
    
    
            input[type=submit]{
                width: 100%;
                height: 50px;
                border: none;
                cursor: pointer;
                
                transition: 0.3s;;
            }
    
            input[type=submit]:hover{
                background-color: #233067;
                color: #fff;
                font-size: 16px;
            }
            
        }
    }
}